<%-include('partials/header')%>

<main id="login-form">
 <form action="">
    <h1>login</h1>
    <input type="email" name="email" id="" placeholder="email address">
    <input type="password" name="password" id="" placeholder="password">
    <input type="submit" value="log in">
    <p>Do not have an account? <a href="/signup">create one</a></p>
 </form>

</main>

<%-include('partials/footer')%>