<%-include('partials/header')%>

<main id="signup-form">
    <form action="">
        <h1>sign up</h1>
        <input type="text" name="fullName" id="" placeholder="full name">
        <input type="email" name="email" id="" placeholder="email address">
        <input type="password" name="password" id="" placeholder="password">
        <input type="password"name="confirmPassword" id="" placeholder="confirm password">
        <input type="submit" value="create account">
        <p>Already have an account? <a href="/login">Sign in</a></p>
    </form>
</main>

<%-include('partials/footer')%>